.one{
	background: url(../img/bg.jpg) repeat;
	position: relative;
	overflow: hidden;
	font-size: 0;
}

/*对三颗流星进行定位和滑动效果添加*/
.one-star-small .small-one{
	position: absolute;
	left:-100%;
	top: 50%;
	animation: smallStarOne 4s linear infinite; 
}



@keyframes smallStarOne{
	70%{left: -50%;top: 50%;}
	90%{left: 50%;top: 65%;}
	100%{left: 140%;top: 90%;}
}

.one-star-small .small-two{
	position: absolute;
	left:130%;
	top: 50%;
	animation: smallStarTwo 4s infinite linear;
}

@keyframes smallStarTwo{
	70%{left: 130%;top: 50%;}
	90%{left: 50%;top: 35%;}
	100%{left: -50%;top: 15%;}
}

.one-star-small .small-three{
	position: absolute;
	left:100%;
	top: 60%;
	animation: smallStarThree 4s infinite linear;
}

@keyframes smallStarThree{
	70%{left: 100%;top: 60%;}
	90%{left: 50%;top: 75%;}
	100%{left: -50%;top: 90%;}
}


/*对logo进行定位和动画的添加*/
#wrapper-one{
	font-size: 20px;
	width: 14em;
	height: 14em;
	position: absolute;
	top: 1.6em;
	/*left: 0;
	top: 8%;
	right: 0;*/
	/*margin: -14em auto 0;*/

}
.one img{
	position: absolute;
}
#wrapper-one img:nth-child(1) {
	left: 200%;
	top: 0;
	width: 100%;
}
#wrapper-one img:nth-child(2) {
	left: -180%;
	top: -10%;
	width: 48%;
}
#wrapper-one img:nth-child(3) {
	left: 220%;
	top: 100%;
	width: 100%;
}
#wrapper-one img:nth-child(4) {
	left: 200%;
	top: 250%;
	width: 73%;
}
#wrapper-one img:nth-child(5) {
	left: -150%;
	top: 60%;
	width: 25%;
}
#wrapper-one img:nth-child(6) {
	left: 38.8%;
	top: -250%;
	width: 27.5%;
}
#wrapper-one img:nth-child(7) {
	left: 53.3%;
	top: -180%;
	width: 12.8%;
}
#wrapper-one img:nth-child(8) {
	left: 80%;
	top: -160%;
	width: 21%;
}
#wrapper-one img:nth-child(9) {
	left: 60%;
	top: -142.8%;
	width: 8%;
}
#wrapper-one img:nth-child(10) {
	left: -80%;
	top: 41.5%;
	width: 12%;
	transform: scale(0);
	opacity: .0;
}
#wrapper-one img:nth-child(11) {
	left: -80%;
	top: 39.5%;
	width: 40%;
	transform: scale(0);
	opacity: .0;
}
#wrapper-one img:nth-child(12) {
	left: -80%;
	top: 38%;
	width: 14%;
	transform: scale(0);
	opacity: .0;
}
#wrapper-one img:nth-child(13) {
	left: 80%;
	top: 37%;
	width: 46%;
	transform: scale(0);
	opacity: .0;
}
#wrapper-one img:nth-child(14) {
	left: 50%;
	top: 89.7%;
	width: 72%;
	transform: scale(0);
	opacity: .0;
}
.one-word img{
	left: 15%;
	top: 70%;
	width: 72%;
	transform: scale(0);
	opacity: .0;
}
.one-star-big img:nth-child(1){
	left: 5%;
	top: 66%;
	width: 30%;
	transform: scale(0);
	opacity: .0;
}
.one-star-big img:nth-child(2){
	left: 40%;
	top: 80%;
	width: 40%;
	transform: scale(0);
	opacity: .0;
}


